[Unit]
Description=Activate md array %I even though degraded
DefaultDependencies=no
ConditionPathExists=!/sys/devices/virtual/block/%i/md/sync_action

[Service]
Type=oneshot
ExecStart=/usr/bin/echo /usr/sbin/mdadm --run /dev/%i
ExecStart=/usr/sbin/mdadm --run /dev/%i
StandardError=syslog
StandardOutput=syslog
