[Unit]
Description=Software RAID monitoring and management
ConditionPathExists=/etc/mdadm.conf

[Service]
Type=forking
PIDFile=/var/run/mdadm/mdadm.pid
EnvironmentFile=-/etc/sysconfig/mdmonitor
# ExecStart=/sbin/mdadm --monitor --scan -f --pid-file=/var/run/mdadm/mdadm.pid
ExecStart=/sbin/mdadm --monitor --scan -f -y --pid-file=/var/run/mdadm/mdadm.pid
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=MDADM

[Install]
WantedBy=multi-user.target
