<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook V3.1//EN"[]>

<book id="xio3dGuide">

<bookinfo>

<title>Xiotech 3D Kernel Support Module</Title>

<authorgroup>
 <author>
  <FirstName>Mark</FirstName>
  <surname>Rustad</surname>
  <affiliation>
   <orgname>Xiotech Corporation</orgname>
   <address>
    <street>6455 Flying Cloud Drive</street>
    <city>Eden Prairie</city>, <state>MN</state> <postcode>55344</postcode>
    <email>Mark_Rustad@Xiotech.com</email>
   </address>
  </affiliation>
 </author>
</authorgroup>

<edition>Document Revision: 0.1 for xio3d module v1.1.2.9</edition>
<PubDate>April 27, 2004</PubDate>

<copyright>
 <year>2004</year>
 <holder>Xiotech Corp.</holder>
</copyright>

<legalnotice>
 <para>
	This program is free software; you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation; either version 2 of the License, or
	(at your option) any later version.
 </para>

 <para>
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
 </para>

 <para>
	You should have received a copy of the GNU General Public License
	along with this program; if not, write to the Free Software
	Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 </para>
</legalnotice>

<Abstract>
<Para>
This document gives some information on installation and usage of the xio3d
module under Linux.
</Para>
</Abstract>

</bookinfo>

<toc></toc>

<chapter id="intro">
 <Title>Introduction</Title>

<Para>
This document describes the revision 1.1.2.9 of the xio3d kernel support 
module under Linux. The driver is developed by Xiotech
Corp. and distributed freely under the GNU General Public License (GPL).
The module is compiled as a loadable module and used under Linux kernel 
version 2.6.x.
If you intend to 
use this module with other kernels, you are on your own.
</Para>

<Para>
The driver is tested with Xiotech 3D applications and is used constantly
by the developers.
</Para>

<Para>
Please send all comments, changes, or questions to
<ULink URL="mailto:Mark_Rustad@Xiotech.com">Mark Rustad</ULink>.
</Para>
</chapter>

<chapter id="changes">
 <Title>Changes</Title>

<Para>
Changes made in Revision 1.1.2.9

<OrderedList>
<ListItem>
<Para>
Corrected a problem with unbalanced interrupt enable/disable by adding the
field event_bit to the irq_state structure to allow the state of the mask
to be checked in the irq_handler function.
</Para>
</ListItem>

<ListItem>
<Para>
Changed XIO3D_MASKINT symbol to XIO3D_MASKEVT because the ioctl really
applies to all events, not just interrupts.
</Para>
</ListItem>

<ListItem>
<Para>
Added more documentation.
</Para>
</ListItem>

</OrderedList>
</Para>

<Para>
Changes made in Revision 1.1.2.8

<OrderedList>
<ListItem>
<Para>
Added some documentation.
</Para>
</ListItem>

</OrderedList>
</Para>

<Para>
Changes made in Revision 1.1.2.7

<OrderedList>
<ListItem>
<Para>
Wrote some documentation.
</Para>
</ListItem>

<ListItem>
<Para>
Added application event signalling.
</Para>
</ListItem>

</OrderedList>
</Para>
</chapter>

<chapter id="tested">
 <Title>Tested Environment</Title>

<Para>
This driver is developed on the following hardware

<ItemizedList>
<ListItem>

<Para>
Dell 2600 with Intel Xeon 2.8 with QLogic 2300 HBAs
</Para>
</ListItem>

</ItemizedList>

and tested with these software environments

<ItemizedList>
<ListItem>

<Para>
Fedora FC2 test2
</Para>
</ListItem>
<ListItem>

<Para>
Linux kernel version 2.6.5
</Para>
</ListItem>

</ItemizedList>

</Para>

</chapter>

<chapter id="files">
<Title>Files in This Package</Title>

<Para>
In the package you can find these files:
</Para>

<Para>
<VariableList>

<VarListEntry>
<Term>xio3d.c</Term>
<ListItem>
<Para>
Module source file in C 
</Para>
</ListItem>
</VarListEntry>

<VarListEntry>
<Term>xio3d.h</Term>
<ListItem>
<Para>
Header file for xio3d.c & users of the module
</Para>
</ListItem>
</VarListEntry>

<VarListEntry>
<Term>xio3d.sgml</Term>
<ListItem>
<Para>
DocBook SGML source of the document
</Para>
</ListItem>
</VarListEntry>

<VarListEntry>
<Term>xio3d.pdf</Term>
<ListItem>
<Para>
PDF of the document
</Para>
</ListItem>
</VarListEntry>

<VarListEntry>
<Term>xio3d.txt</Term>
<ListItem>
<Para>
Driver document in plain text
</Para>
</ListItem>
</VarListEntry>

<VarListEntry>
<Term>xio3d.4</Term>
<ListItem>
<Para>
Man page for module
</Para>
</ListItem>
</VarListEntry>

</VariableList>
</Para>
</chapter>

<chapter id="install">
 <Title>Installation</Title>

<Para>
The xio3d kernel module is always built as a module outside the kernel
source tree. The module is always loaded explicitly using the insmod command.
This is because the module always grabs and retains a large amount of kernel
memory for use as shared memory by the Xiotech applications.
</Para>

<Para>
In the 3d_build directory, there are scripts build_kernel and build_module.
Each script takes a list of target systems, such as
</Para>

<Para><screen>
./build_kernel 1 2 3 4
</screen></Para>

<Para>
This step must be completed before the module can be built. Once the kernel
has been built, the module can be built using the command
</Para>

<Para><screen>
./build_module 1 2 3 4
</screen></Para>

<Para>
At this point, the targets may be booted with the corresponding kernel. The
module can then be loaded with the command
</Para>

<Para><screen>
insmod /lib/modules/2.6.5-3d/extra/xio3d.ko
</screen></Para>

<Para>
If this is successful, the module will have loaded and allocated the shared
memory areas. The module announces its presence in the system log with the
following message
</Para>

<Para><screen>
xio3d: XIOtech 3D kernel support module, v1.1.2.9
</screen></Para>

</chapter>

<chapter id="RHistory">
 <Title>Revision History</Title>

<Para>
<ItemizedList>

<ListItem>
<Para>
April 27, 2004, Revision 0.1.
</Para>
</ListItem>

</ItemizedList>
</Para>
</chapter>

<chapter id="functions">
<title>List of Functions</title>
!I../../xio3d/xio3d.c
</chapter>

</book>
