#-----------------------------------------------------------------------------
# Check if this udev rule applies to type/action passed to this rule.
# This file currently works for 3U (B24) and 2U (B25)
# this file exists for upgrade situations
SUBSYSTEM!="net", GOTO="70_net_end"
ACTION!="add",    GOTO="70_net_end"

# using NAME= instead of setting INTERFACE_NAME, so that persistent
# names aren't generated for these devices, they are "named" on each boot.
SUBSYSTEMS=="pci", PROGRAM="/px/libexec/udevnetname.sh %k %b", NAME="%c"  OPTIONS+="string_escape=replace"

#-----------------------------------------------------------------------------
# Exit this udev rule
LABEL="70_net_end"