ACTION=="add", DRIVERS!="abc",KERNEL=="sdc*|sd[ab]*|md[0-9]*|dm-[0-9]*|nvme*",PROGRAM="/m4debug/M4-ECHO-FIRST 00-debug.rules add k='%k' n='%n' M='%M' m='%m' P='%P' id='%b' driver='$driver' name='$name' root='$root' sys='$sys' devnode='$devnode' p='%p' links='$links'",ENV{M4_FILE}="%c"
ACTION=="change", DRIVERS!="abc",KERNEL=="sdc*|sd[ab]*|md[0-9]*|dm-[0-9]*|nvme*",PROGRAM="/m4debug/M4-ECHO-FIRST 00-debug.rules change k='%k' n='%n' M='%M' m='%m' P='%P' id='%b' driver='$driver' name='$name' root='$root' sys='$sys' devnode='$devnode' p='%p' links='$links'",ENV{M4_FILE}="%c"
ACTION=="move", DRIVERS!="abc",KERNEL=="sdc*|sd[ab]*|md[0-9]*|dm-[0-9]*|nvme*",PROGRAM="/m4debug/M4-ECHO-FIRST 00-debug.rules move k='%k' n='%n' M='%M' m='%m' P='%P' id='%b' driver='$driver' name='$name' root='$root' sys='$sys' devnode='$devnode' p='%p' links='$links'",ENV{M4_FILE}="%c"
ACTION=="offline", DRIVERS!="abc",KERNEL=="sdc*|sd[ab]*|md[0-9]*|dm-[0-9]*|nvme*",PROGRAM="/m4debug/M4-ECHO-FIRST 00-debug.rules offline k='%k' n='%n' M='%M' m='%m' P='%P' id='%b' driver='$driver' name='$name' root='$root' sys='$sys' devnode='$devnode' p='%p' links='$links'",ENV{M4_FILE}="%c"
ACTION=="online", DRIVERS!="abc",KERNEL=="sdc*|sd[ab]*|md[0-9]*|dm-[0-9]*|nvme*",PROGRAM="/m4debug/M4-ECHO-FIRST 00-debug.rules online k='%k' n='%n' M='%M' m='%m' P='%P' id='%b' driver='$driver' name='$name' root='$root' sys='$sys' devnode='$devnode' p='%p' links='$links'",ENV{M4_FILE}="%c"
ACTION=="remove", DRIVERS!="abc",KERNEL=="sdc*|sd[ab]*|md[0-9]*|dm-[0-9]*|nvme*",PROGRAM="/m4debug/M4-ECHO-FIRST 00-debug.rules remove k='%k' n='%n' M='%M' m='%m' P='%P' id='%b' driver='$driver' name='$name' root='$root' sys='$sys' devnode='$devnode' p='%p' links='$links'",ENV{M4_FILE}="%c"
ACTION!="add|change|move|offline|online|remove", DRIVERS!="abc",KERNEL=="sdc*|sd[ab]*|md[0-9]*|dm-[0-9]*|nvme*",PROGRAM="/m4debug/M4-ECHO-FIRST 00-debug.rules UNKNOWN k='%k' n='%n' M='%M' m='%m' P='%P' id='%b' driver='$driver' name='$name' root='$root' sys='$sys' devnode='$devnode' p='%p' links='$links'",ENV{M4_FILE}="%c"
