ACTION=="add", KERNEL=="sd[ab][0-9]|md12[0-9]|nvme[01]n1p1", PROGRAM="/m4debug/M4-ECHO-FIRST 00-debug.rules add k='%k' n='%n' M='%M' m='%m' P='%P' id='%b' driver='$driver' name='$name' root='$root' sys='$sys' devnode='$devnode' p='%p' links='$links'", ENV{M4_FILE}="%c"
ACTION=="change", KERNEL=="sd[ab][0-9]|md12[0-9]|nvme[01]n1p1", PROGRAM="/m4debug/M4-ECHO-FIRST 00-debug.rules change k='%k' n='%n' M='%M' m='%m' P='%P' id='%b' driver='$driver' name='$name' root='$root' sys='$sys' devnode='$devnode' p='%p' links='$links'", ENV{M4_FILE}="%c"
ACTION=="move", KERNEL=="sd[ab][0-9]|md12[0-9]|nvme[01]n1p1", PROGRAM="/m4debug/M4-ECHO-FIRST 00-debug.rules move k='%k' n='%n' M='%M' m='%m' P='%P' id='%b' driver='$driver' name='$name' root='$root' sys='$sys' devnode='$devnode' p='%p' links='$links'", ENV{M4_FILE}="%c"
ACTION=="offline", KERNEL=="sd[ab][0-9]|md12[0-9]|nvme[01]n1p1", PROGRAM="/m4debug/M4-ECHO-FIRST 00-debug.rules offline k='%k' n='%n' M='%M' m='%m' P='%P' id='%b' driver='$driver' name='$name' root='$root' sys='$sys' devnode='$devnode' p='%p' links='$links'", ENV{M4_FILE}="%c"
ACTION=="online", KERNEL=="sd[ab][0-9]|md12[0-9]|nvme[01]n1p1", PROGRAM="/m4debug/M4-ECHO-FIRST 00-debug.rules online k='%k' n='%n' M='%M' m='%m' P='%P' id='%b' driver='$driver' name='$name' root='$root' sys='$sys' devnode='$devnode' p='%p' links='$links'", ENV{M4_FILE}="%c"
ACTION=="remove", KERNEL=="sd[ab][0-9]|md12[0-9]|nvme[01]n1p1", PROGRAM="/m4debug/M4-ECHO-FIRST 00-debug.rules remove k='%k' n='%n' M='%M' m='%m' P='%P' id='%b' driver='$driver' name='$name' root='$root' sys='$sys' devnode='$devnode' p='%p' links='$links'", ENV{M4_FILE}="%c"
ACTION!="add|change|move|offline|online|remove", KERNEL=="sd[ab][0-9]|md12[0-9]|nvme[01]n1p1", PROGRAM="/m4debug/M4-ECHO-FIRST 00-debug.rules UNKNOWN k='%k' n='%n' M='%M' m='%m' P='%P' id='%b' driver='$driver' name='$name' root='$root' sys='$sys' devnode='$devnode' p='%p' links='$links'", ENV{M4_FILE}="%c"
