# multipath wants the devmaps presented as meaninglful device names
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules"
# so name them after their devmap name
SUBSYSTEM!="block", GOTO="end_mpath"

IMPORT{cmdline}="nompath"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #2"
ENV{nompath}=="?*", GOTO="end_mpath"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #3"
ENV{DEVTYPE}!="partition", GOTO="test_dev"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #4"
IMPORT{parent}="DM_MULTIPATH_DEVICE_PATH"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #5"
ENV{DM_MULTIPATH_DEVICE_PATH}=="1", ENV{ID_FS_TYPE}="none", \
	ENV{SYSTEMD_READY}="0"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #6"
GOTO="end_mpath"

LABEL="test_dev"

ENV{MPATH_SBIN_PATH}="/sbin"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #7"
TEST!="$env{MPATH_SBIN_PATH}/multipath", ENV{MPATH_SBIN_PATH}="/usr/sbin"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #8"
TEST!="/etc/multipath.conf", GOTO="check_kpartx"

ACTION=="add", ENV{DM_MULTIPATH_DEVICE_PATH}!="1", \
	PROGRAM=="$env{MPATH_SBIN_PATH}/multipath -c $tempnode", \
	ENV{DM_MULTIPATH_DEVICE_PATH}="1", ENV{ID_FS_TYPE}="mpath_member"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #9"

ENV{DM_MULTIPATH_DEVICE_PATH}=="1", ENV{DM_MULTIPATH_WIPE_PARTS}="1", \
	RUN+="/sbin/partx -d --nr 1-1024 $env{DEVNAME}"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #10"

ACTION!="change", GOTO="update_timestamp"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #11"
IMPORT{db}="DM_MULTIPATH_TIMESTAMP"
IMPORT{db}="DM_MULTIPATH_DEVICE_PATH"
IMPORT{db}="DM_MULTIPATH_WIPE_PARTS"
IMPORT{db}="DM_MULTIPATH_NEED_KPARTX"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #12"
# Check if the device is part of a multipath device. the -T option just keeps
# the old result if the timestamp hasn't changed.
PROGRAM=="$env{MPATH_SBIN_PATH}/multipath -T $env{DM_MULTIPATH_TIMESTAMP}:$env{DM_MULTIPATH_DEVICE_PATH} -c $env{DEVNAME}", \
	ENV{DM_MULTIPATH_DEVICE_PATH}="1", ENV{ID_FS_TYPE}="mpath_member", \
	GOTO="update_timestamp"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #13"

# If the device isn't part of a multipath device, clear this
ENV{DM_MULTIPATH_DEVICE_PATH}=""
ENV{DM_MULTIPATH_WIPE_PARTS}=""

DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #14"
LABEL="update_timestamp"
ENV{DM_MULTIPATH_DEVICE_PATH}=="1", ENV{SYSTEMD_READY}="0"
ENV{DM_MULTIPATH_DEVICE_PATH}=="1", ENV{DM_MULTIPATH_WIPE_PARTS}!="1", \
	ENV{DM_MULTIPATH_WIPE_PARTS}="1", \
	RUN+="/sbin/partx -d --nr 1-1024 $env{DEVNAME}"

DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #15"
IMPORT{file}="/run/multipathd/timestamp"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #16"

LABEL="check_kpartx"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #17"
KERNEL!="dm-*", GOTO="end_mpath"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #18"
ENV{DM_UUID}=="mpath-?*|part[0-9]*-mpath-?*", OPTIONS+="link_priority=10"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #19"
ACTION!="change", GOTO="end_mpath"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #20"
ENV{DM_UUID}!="mpath-?*", GOTO="end_mpath"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #21"
ENV{DM_SUBSYSTEM_UDEV_FLAG1}=="1", GOTO="end_mpath"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #22"
ENV{DM_ACTIVATION}=="1", ENV{DM_MULTIPATH_NEED_KPARTX}="1"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #23"
ENV{DM_SUSPENDED}=="1", GOTO="end_mpath"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #24"
ENV{DM_ACTION}=="PATH_FAILED", GOTO="end_mpath"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #25"
ENV{DM_NOSCAN}=="1", GOTO="end_mpath"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #26"
ENV{DM_ACTIVATION}!="1", ENV{DM_MULTIPATH_NEED_KPARTX}!="1", GOTO="end_mpath"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #27"
RUN+="$env{MPATH_SBIN_PATH}/kpartx -an $tempnode", \
	ENV{DM_MULTIPATH_NEED_KPARTX}=""
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules #28"
LABEL="end_mpath"
DRIVERS!="abc",KERNEL=="sdc*|sd[ab][a-z]*|dm-*",PROGRAM="/usr/bin/M4-ECHO-SECOND 62-multipath.rules exiting"
