#!/bin/bash -ex
echo "NOTDONEYET $0"
exit 1

#=============================================================================
check_multipath();
check_hsmadm_show();
check_lsscsi();
check_lsblk();
